
<!-- va con comilla simpre para identificar que es un string -->
<app-slider
[nombre] = "'PELICULAS'"
[size] = "'small'"
></app-slider>

<div class="center">
    <section id="content">
        <h2 class="subheader"> Peliculas</h2>
        
        <h3>{{ titulo }}</h3>
        <button (click)= "cambiarTitulo();">Pulsar</button>
        
        <hr/>
        
        <h3>Mostrar primera pelicula</h3>
        {{ peliculas[0].title }}
        
        <hr/>
        
        <div *ngIf="peliculas.length <= 3">
            hay pocas peliculas
        </div>
        <div *ngIf="peliculas.length > 3">
            hay muchas peliculas
        </div>
        
        <h3>Numero de peliculas</h3>
        {{ peliculas.length}}
        
        <hr/>
        <h3>Listado de peliculas </h3>
        <!--Listado articulos-->
        <div id="articles" *ngIf="peliculas">
            <!--AÑADIR ARTICULOS VIA JS llamando al componente pelicula meintras recorremos la lista -->
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula
                    [pelicula]="pelicula"
                ></app-pelicula>
            </div>
        </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
